*{
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  font-size: 1.1rem;
  line-height: 1.2em;
  margin: 100px;
  background-color: rgb(240, 240, 240);
}

p{
  margin-bottom: 1.4em;
}

.container{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.header {
  background: #333;
  color: rgb(253, 209, 209);
  padding: 1.5rem 0 ;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  
}

h1{
  font-size: 2rem;
  line-height: 1.3;
  color: rgb(70, 70, 245);  
}

p{
  padding-left: 2rem;    
}

.header a{
  color: aliceblue;
  text-decoration: none;
}

.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  letter-spacing: 5px;
  font-size: 1.4em;    
}

.navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation ul li{
  display: inline-block;
}

.navigation ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
}

.navigation ul li a:hover{
  background: rgb(71, 67, 67);
}

.main{
  padding-top: 6rem;
}

.footer{
  background: rgb(88, 88, 88);
  padding: 4rem 0;
  text-align: center;
  margin-top: 5rem;
  color: white;
}

#informHTML, #informCSS{
  width: 100%;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
}

#informHTML th, #informCSS th, #informHTML td, #informCSS td{
  font-size: 1em;
  padding: 5px 12px 5px 12px;
}

#informHTML tr th, #informCSS tr th{
  text-align: center;
  padding-top: px;
  padding-bottom: 12px;
  background-color: rgb(87, 117, 151);
  color: white;
}

#informHTML tr.alterno td, #informCSS tr.alterno td{
  background-color:rgb(211, 211, 211);
}

#informHTML tr.alterno2 td, #informCSS tr.altern2 td{
  background-color:white;
}
  /*aspectos generales: bordes y color de fondo de calculadora*/
  .calculadora {
    display: block;
    margin: 0 auto; 
    padding-top: 0rem;
    border: 3px blue ridge; 
    width: 250px;
    text-align: center;
    background-color: #f6f8d8; 
  }

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/
#textoPantalla { 
  width: 185px; 
  border: 2px black solid; 
  text-align: right; 
  position: relative; 
  left: 23px;  
  padding: 0px 5px;
  background-color: white; 
  font-family: "courier new"; 
  overflow: hidden;}

/*botones normales: anchura y margen*/
.calculadora [type=button] {
  width: 35px; 
  padding: 0;
   }
/*botones especiales*/
.calculadora input.largo { 
  color: red; 
  width: 60px; 
}
.formulario{
  width: 340px;
  max-width: 100%;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.6);
  position: relative;
}
.formulario_titulo{
  text-align: center;
  margin-top: 0;
  color:blue;
}
.formulario_input, .formulario_label, .formulario_submit{
  display: block;
  width: 95%;
  font-size: 1.1em;  
}
.formulario_input{
  padding: 10px;
  border: solid rgba(44, 45, 46, 0.6);
  background: rgba(245, 244, 244, 0.5);
  margin-bottom: 40px;
}
.formulario_input:focus{
  outline: 1px solid rgb(253, 209, 209, 0.5);
}
.formulario_input:focus + .formulario_label{
  margin-top: -110px;
}
.formulario_label{
  padding-left: 15px;
  position: absolute;
  margin-top: -75px;
  z-index: -20;
  color: rgba(24, 22, 22, 0.8);
  transition: all 0.2s;
}
.formulario_submit{
  background: rgba(53, 52, 52, 0.8);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
}

.fijartexto{
  margin-top: -115px;
}

.fixed-footer{
  width: 100%;
  position: fixed;        
  background: #333;
  padding: 40px 50;
  color: #fff;
}

.fixed-footer{
  bottom: 30;
}

.card {    
  padding: 15px;
  max-width: 400px;
  height: auto;
  margin: 150px auto;
  text-align: center;
}

.pagind {    
  padding: 5px;
  max-width: 400px;
  height: auto;
  margin: 50px auto;
  text-align: center;
}



