{% extends 'layout.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Bienvenidos a mi sitio web!</h1>
  <p class="lead">En esta pagina puedes encontrar todo lo que tú necesitas para sistematizar tú empresa, el mejorar el rendimiento de tus procesos laborales.</p>
  <hr class="my-4">
  <p>En el siguiente link, puedes encontrar más información, donde te podemos guiar sobre como pueden implementar estos servicios en tu empresa.</br>
    No perdas esta oportunidad de lograrlo!.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Acerca de</a>
</div>

{% endblock %}